<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title> lists</title>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

    <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 260px;
        background-image: linear-gradient(to bottom right, rgb(174, 175, 238), rgb(48, 50, 185));
        z-index: 100;
        transition: all 0.5s ease;
    }
    
    .sidebar.close {
        width: 78px;
    }
    
    .sidebar .logo-details {
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;
    }
    
    .sidebar .logo-details i {
        font-size: 30px;
        color: #fff;
        height: 50px;
        min-width: 78px;
        text-align: center;
        line-height: 50px;
    }
    
    .sidebar .logo-details .logo_name {
        font-size: 22px;
        color: #fff;
        font-weight: 600;
        transition: 0.3s ease;
        transition-delay: 0.1s;
    }
    
    .sidebar.close .logo-details .logo_name {
        transition-delay: 0s;
        opacity: 0;
        pointer-events: none;
    }
    
    .sidebar .nav-links {
        height: 100%;
        padding: 30px 0 150px 0;
        overflow: auto;
    }
    
    .sidebar.close .nav-links {
        overflow: visible;
    }
    
    .sidebar .nav-links::-webkit-scrollbar {
        display: none;
    }
    
    .sidebar .nav-links li {
        position: relative;
        list-style: none;
        transition: all 0.4s ease;
    }
    
    .sidebar .nav-links li:hover {
        background: #5046c2;
    }
    
    .sidebar .nav-links li .iocn-link {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .sidebar.close .nav-links li .iocn-link {
        display: block
    }
    
    .sidebar .nav-links li i {
        height: 50px;
        min-width: 78px;
        text-align: center;
        line-height: 50px;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    
    .sidebar .nav-links li.showMenu i.arrow {
        transform: rotate(-180deg);
    }
    
    .sidebar.close .nav-links i.arrow {
        display: none;
    }
    
    .sidebar .nav-links li a {
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    
    .sidebar .nav-links li a .link_name {
        font-size: 18px;
        font-weight: 400;
        color: #fff;
        transition: all 0.4s ease;
    }
    
    .sidebar.close .nav-links li a .link_name {
        opacity: 0;
        pointer-events: none;
    }
    
    .sidebar .nav-links li .sub-menu {
        padding: 6px 6px 14px 80px;
        margin-top: -10px;
        background: #1d1b31;
        display: none;
    }
    
    .sidebar .nav-links li.showMenu .sub-menu {
        display: block;
    }
    
    .sidebar .nav-links li .sub-menu a {
        color: #fff;
        font-size: 15px;
        padding: 5px 0;
        white-space: nowrap;
        opacity: 0.6;
        transition: all 0.3s ease;
    }
    
    .sidebar .nav-links li .sub-menu a:hover {
        opacity: 1;
    }
    
    .sidebar.close .nav-links li .sub-menu {
        position: absolute;
        left: 100%;
        top: -10px;
        margin-top: 0;
        padding: 10px 20px;
        border-radius: 0 6px 6px 0;
        opacity: 0;
        display: block;
        pointer-events: none;
        transition: 0s;
    }
    
    .sidebar.close .nav-links li:hover .sub-menu {
        top: 0;
        opacity: 1;
        pointer-events: auto;
        transition: all 0.4s ease;
    }
    
    .sidebar .nav-links li .sub-menu .link_name {
        display: none;
    }
    
    .sidebar.close .nav-links li .sub-menu .link_name {
        font-size: 18px;
        opacity: 1;
        display: block;
    }
    
    .sidebar .nav-links li .sub-menu.blank {
        opacity: 1;
        pointer-events: auto;
        padding: 3px 20px 6px 16px;
        opacity: 0;
        pointer-events: none;
    }
    
    .sidebar .nav-links li:hover .sub-menu.blank {
        top: 50%;
        transform: translateY(-50%);
    }
    
    .home-section {
        position: relative;
        background: #E4E9F7;
        height: 100%;
        left: 260px;
        width: calc(100% - 260px);
        transition: all 0.5s ease;
    }
    
    .sidebar.close~.home-section {
        left: 78px;
        width: calc(100% - 78px);
    }
    
    .home-section .home-content {
        height: 60px;
        display: flex;
        align-items: center;
        background-color: rgb(211, 218, 236);
        border-bottom-style:outset
    }
    
    .home-section .home-content .bx-menu,
    .home-section .home-content .text {
        color: #11101d;
        font-size: 35px;
    }
    
    .home-section .home-content .bx-menu {
        margin: 0 15px;
        cursor: pointer;
    }
    
    .home-section .home-content .text {
        font-size: 26px;
        font-weight: 600;
    }
    
    .content {
        height: 200px;
        border-style: groove;
        margin-left: 20px;
        margin-right: 20px;
        width: calc(100% - 280 px);
        text-align: center;
    }
    
    .details {
        margin: 10px;
    }

    .main{
         background-color: white;
         width:700px;
         height: 580px;
         margin-left: 250px;
         margin-top: 30px;
         border-radius: 8px;
         margin-bottom: 40px;
         padding-top: 40px;
    }
    .ti{
       padding-bottom: 10px;
        color: black;
        margin-left: 170px;
    }

    .ti a{
     text-decoration: none;
}
h6{
    text-align: center;
}
.pei{
width: 90px;
margin-left: 90px;
}

a{
    color:black;
    text-decoration: none;
}
.fenbi{
    width:120px;
}

    </style>
</head>
<body>
<div class="sidebar">
        <div class="logo-details">
            <span class="logo_name">&nbsp;&nbsp;&nbsp;Term-4 Dictation</span>
        </div>
        <ul class="nav-links">
            <li>
                <div class="iocn-link">
                    <a href="/zt">
                    <i class='bx bx-disc'></i>
                    <span class="link_name">真题训练</span>
                </a>
                </div>   
                <ul class="sub-menu blank">
                    <li>
                        <a class="link_name" href="/zt">真题训练</a>
                    </li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="/dw">
                        <i class='bx bx-sun'></i>
                        <span class="link_name">动植物类</span>
                    </a>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="/dw">动植物类</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="/jk">
                        <i class='bx bx-check-shield'></i>
                        <span class="link_name">健康类</span>
                    </a>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="/jk">健康类</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="/jr">
                    <i class='bx bx-star'></i>
                    <span class="link_name">节日类</span>
                </a>
                </div>
                
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="/jr">节日类</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="/cy">
                    <i class='bx bxs-coffee'></i>
                    <span class="link_name">食物类</span>
                </a>
                </div>
                
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="/cy">食物类</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="/xiaoyuan">
                        <i class='bx bx-book-alt'></i>
                        <span class="link_name">校园类</span>
                    </a>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="/xiaoyuan">校园类</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="/after">
                        <i class='bx bx-grid-alt'></i>
                        <span class="link_name">首页</span>
                    </a>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="/after">校园类</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu'></i>
            <span class="text">练习资源</span>
        </div><br>
        {{#each sourcelists}}
        <div class="content">
            <div class="details">
                <span class="title">
                <h1><a href="/topic/{{this.id}}">{{this.title}}</a></h1>
                </span><br>
                <img  class ="fenbi" src="https://www.bing.com/th/id/OGC.56dfc1cfe2061c277e60ba6f1b0f2793?pid=1.7&rurl=https%3a%2f%2fimg95.699pic.com%2fphoto%2f40126%2f2519.gif_wh300.gif&ehk=gdgaHafavVZfqSCH%2bLSw4JmSeC0QwFQzgdnEJmwDVkg%3d" alt="">
            </div>
        </div><br>
        {{/each}}

</body>
</html>