<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>关于我们</title>
<style>
          div{
            font-size: 30px;
            background-color: rgb(174, 175, 238);
            margin: 80px;
            padding-top: 20px;
            padding-bottom: 10px;
            border-radius: 15px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div>
    <h4>
     此网站由听写不停歇团队成员创建<br>
     
    </div>
</body>
</html>