<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>联系我们</title>
    <style>
          div{
            font-size: 30px;
            background-color: rgb(174, 175, 238);
            margin: 80px;
            padding-top: 20px;
            padding-bottom: 10px;
            border-radius: 15px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div>
    <h4>
     听写不停歇团队成员的联系方式如下：<br>
     <br>
     肖良花：18963553647
     <br>  
     黄晓仪：17827886530
     <br>
     王楚涵：16637622922
     <br>
     李卓颖：17635265526
    </h4>
    </div>
</body>
</html>