<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>关于本站</title>
    <style>
        div{
            width: 60%;
            margin-left: 80px;
        }
    </style>
</head>
<body>
    <div>
   <h3>听写不停歇（TEM4-Dictation）创办于2021年,致力于打造集实用性，互动性，娱乐性为一体的专业公益性英语学习平台,建站至今,已经赢得越来越多英语学习者的信任与支持。在百度搜索中“英语口语”关键字排名靠前。 在众多网友心中，听写不停歇是她们每天必上的学习网站。在这里您可以： </h3>
 

<br>
<h4>
  1.收听到最新的英语听力资讯和进行英语听写训练；
  <br>
  2.听写不停歇的受众群体，百分之九十以上都是为在校英语相关专业学生，同时也有许多在职人员，并具有高技能、高素质的特点。专业的定位能够有效的保证宣传效果，在很大程度上能够满足在校学生备考专四专八，满足英语学习爱好者的学习需求。
 
 </h4>
 </div>
    
</body>
</html>